@charset "utf-8";
// 폰트 IBM Plex Sans KR // font-family: 'IBM Plex Sans KR', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
// 폰트 나눔고딕 // font-family: 'Nanum Gothic', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

// 컬러 팔레트
$bg-color:#222;
$white-color : #fff;
$bio-green : #225322bd ;
$yellow :  rgba(209, 148, 16, 0.8) ;

// 공통 영역
body{
    width: 100%; height: 100%;
    color: white; background: #222 ;overflow-x: hidden; }
img{object-fit: cover;}
.container{
    width: 100%; max-width: 1200px; height: fit-content ;
    overflow: hidden; margin: 0 auto; box-sizing: border-box; }

.dark{filter: brightness(50%);} 



/* ★ y축(세로) 스크롤바 커스텀 */
// 두께
::-webkit-scrollbar{width: 10px;}
// 스크롤바 전체 범위
::-webkit-scrollbar-track:vertical {
  background: -webkit-linear-gradient(180deg, #fff, #fff,  #fff, $bio-green, $bio-green, $bio-green,  #fff, #fff, #fff);
}
// 현재 스크롤바 범위
::-webkit-scrollbar-thumb {
  background: rgba(209, 148, 16, 0.6);
  border-radius: 30px;
}
// 상단 버튼
::-webkit-scrollbar-button:vertical:single-button:start {
    border-bottom: 50px solid $bio-green;
    border-top: 50px solid $bio-green;
    border-right: 50px solid #222;
    border-left: 50px solid #222;
}
// 하단 버튼
::-webkit-scrollbar-button:vertical:single-button:end {
  border-bottom: 50px solid $bio-green;
  border-top: 50px solid $bio-green;
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}



// 메인
#main{width: 100%; height: 100%}
// 섹션1
#section1{width: 100%; height: 100%; overflow: hidden;
    >div{position: relative; width: 100%; height: 100%;
        .main{position: relative; 
            width: 100%; height: 100%; z-index: -1; 
            #mainVideo{
                width: 100%; height: 100%; object-fit: cover;
                filter: brightness(100%);
                transition: filter 0.5s ease;
                 &.dark-video {
                    filter: brightness(50%); 
                  } 
            }
            #videoText{ // ★ 비디오 위 텍스트 필터
                position: absolute; inset: 0; display: grid; place-items: center; background-color: black;
                mix-blend-mode: multiply; user-select: none;
                color: #fff; font-weight: 900; font-size: 160px; letter-spacing: -20px; white-space: pre;
                font-family: 'IBM Plex Sans KR', sans-serif;
                
                animation: mainFade  6s forwards; animation-iteration-count: 1; 
                @keyframes mainFade {
                    0% {opacity: 1;}
                    30% {opacity: 1;}
                    100% {opacity: 0;}
                }
            }
        }
        >p{
            position: absolute; font-size: 70px; font-family: 'IBM Plex Sans KR', sans-serif;
            transition: .5s ease-in-out;
            border-bottom: 1px solid white;
            
            &.flyingP1{top: 15%; left: -100%;}
            &.flyingP2{top: 60%; right: -100%; text-align: right;}
        }




        .sub{
            width: 100%; height: 100%; z-index: -2;
            background: url(../img/subBg.jpg);
        }
    }
        .scroll-down{position: absolute; left: 50%; bottom: 46px; transform: translateX(-50%); z-index: 5; // 스크롤 다운 애니메이션
            li{transform: rotate(90deg); font-family: ' '; font-weight: 500;
                font-size: 12px; color: #fff;
                &::before{   content: ""; // 회색바
                    position: absolute; left: 0px; bottom: -2px;
                    width: 100px; height: 4px; background: rgba(255,255,255,0.3)}
                &::after{   content: ""; // 무빙바
                    position: absolute; left: 0px; bottom: -2px;
                    width: 50px; height: 4px; background: #ffffff;
                    animation: scroll-down infinite alternate linear; animation-duration: 1s;
                    @keyframes scroll-down {
                        from { transform: translateX(0px); }
                        to { transform: translateX(50px); }
                    }}
                p{padding-bottom: 5px;}
            }
        }
    }
.typed-cursor{display: none;}

