@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
/* 컬러 팔레트 */
/* 공통 영역 */
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: white;
  background: rgba(34, 34, 34, 0.8156862745);
  font-family: "Nanum Gothic", sans-serif;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFull {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}

.container75 {
  width: 75%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}

.dark {
  filter: brightness(50%);
}

footer {
  height: 30%;
}

/* y축(세로) 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track:vertical {
  background: -webkit-linear-gradient(180deg, #fff, #fff, #fff, rgba(34, 83, 34, 0.7411764706), rgba(34, 83, 34, 0.7411764706), rgba(34, 83, 34, 0.7411764706), #fff, #fff, #fff);
}

::-webkit-scrollbar-thumb {
  background: rgba(209, 148, 16, 0.6);
  border-radius: 30px;
}

::-webkit-scrollbar-button:vertical:single-button:start {
  border-bottom: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-top: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}

::-webkit-scrollbar-button:vertical:single-button:end {
  border-bottom: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-top: 50px solid rgba(34, 83, 34, 0.7411764706);
  border-right: 50px solid #222;
  border-left: 50px solid #222;
}

/* 메인1 */
#main1 {
  width: 100%;
  height: 100%;
}

#section1 > div {
  position: relative;
  width: 100%;
  height: 100%;
}
#section1 > div .videoCover {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#section1 > div .videoCover #mainVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(100%);
  transition: filter 0.5s ease;
}
#section1 > div .videoCover #mainVideo.dark-video {
  filter: brightness(50%);
}
#section1 > div .videoCover #videoText {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: black;
  mix-blend-mode: multiply;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
  font-weight: 900;
  font-size: 160px;
  letter-spacing: -20px;
  white-space: pre;
  font-family: "IBM Plex Sans KR", sans-serif;
  animation: mainFade 6s forwards;
  animation-iteration-count: 1;
}
@keyframes mainFade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#section1 > div > p {
  position: absolute;
  font-size: 70px;
  font-family: "IBM Plex Sans KR", sans-serif;
  transition: 0.7s ease-in-out;
  border-bottom: 1px solid white;
}
#section1 > div > p.flyingP1 {
  top: 15%;
  left: -100%;
}
#section1 > div > p.flyingP2 {
  top: 60%;
  right: -100%;
  text-align: right;
}
#section1 > div > p.flyingP3 {
  opacity: 0;
  top: 60%;
  right: 5%;
  text-align: right;
}
#section1 > div > p.flyingP4 {
  opacity: 0;
  top: 15%;
  left: 5%;
}
#section1 > div > span {
  position: absolute;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
  font-size: 30px;
  transition: 0.5s;
}
#section1 > div .section1sub {
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 0.5s;
  background: url(../img/subBg.jpg);
}
#section1 > div > .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 46px;
  z-index: 5;
  transform: translateX(-50%);
  cursor: pointer;
}
#section1 > div > .scroll-down > li {
  transform: rotate(90deg);
  font-family: " ";
  font-weight: 500;
  box-sizing: border-box;
  font-size: 12px;
  color: #fff;
}
#section1 > div > .scroll-down > li::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100px;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
}
#section1 > div > .scroll-down > li::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 50px;
  height: 4px;
  background: #ffffff;
  animation: scroll-down infinite alternate linear;
  animation-duration: 1s;
}
@keyframes scroll-down {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
}
#section1 > div > .scroll-down > li > p {
  padding-bottom: 5px;
  box-sizing: border-box;
}
#section1 > div .typed-cursor {
  display: none;
}

/* 메인2 */
#main2 {
  width: 100%;
  height: 100%;
  display: block;
}

#section2 {
  position: relative;
}
#section2 .nav-Wrap {
  position: absolute;
  top: 0;
  left: 12.5%;
  z-index: 10;
  height: 70px;
  width: 75%;
  padding: 0 50px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section2 .nav-Wrap h1 a img {
  opacity: 1;
}
#section2 .nav-Wrap nav span {
  display: inline-block;
  margin-left: 50px;
}
#section2 .nav-Wrap nav span a {
  color: white;
  display: block;
  font-size: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
}
#section2 .nav-Wrap nav span a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
#section2 .container75 {
  display: flex;
  transform: scale(0.1);
  transition: 0.8s;
  background: rgb(224, 214, 214);
}
#section2 .container75 .peakWave {
  flex-basis: 30%;
  height: 100%;
  position: relative;
}
#section2 .container75 .peakWave video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
}

#section3 {
  background: #e4ddd5;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section4 {
  background: #d6e0e2;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section5 {
  background: #d1e2c9;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section6 {
  background: #f0cbcd;
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background: rgba(29, 26, 26, 0.6980392157);
  font-size: 40px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */